{% import (
  "github.com/kyleu/loadtoad/app"
  "github.com/kyleu/loadtoad/app/controller/cutil"
  "github.com/kyleu/loadtoad/app/loadtoad"
  "github.com/kyleu/loadtoad/app/util"
  "github.com/kyleu/loadtoad/views/components"
  "github.com/kyleu/loadtoad/views/layout"
) %}

{% code type Home struct {
  layout.Basic
  Hars []string
  Workflows loadtoad.Workflows
  Scripts []string
} %}

{% func (p *Home) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`app`, ps) %}{%s util.AppName %}</h3>
    <div class="mt">{%s util.AppName %} helps you test your web application using HTTP Archive (.har) files</div>
  </div>
  <div class="card">
    <div class="right"><a href="/har"><button>New</button></a></div>
    <h3>
      <a href="/har">
        {%= components.SVGRefIcon(`book`, ps) %}
        {%s util.StringPlural(len(p.Hars), "Archive") %}
      </a>
    </h3>
    <div class="mt">
      <table>
        <tbody>
          {%- for _, h := range p.Hars -%}
          <tr><td><a href="/har/{%s h %}">{%s h %}</a></td></tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="right"><a href="/workflow/new"><button>New</button></a></div>
    <h3>
      <a href="/workflow">
        {%= components.SVGRefIcon(`sitemap`, ps) %}
        {%s util.StringPlural(len(p.Workflows), "Workflow") %}
      </a>
    </h3>
    <div class="mt">
      <table>
        <tbody>
        {%- for _, w := range p.Workflows -%}
        <tr><td><a href="/workflow/{%s w.ID %}">{%s w.Title() %}</a></td></tr>
        {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="right"><a href="/admin/scripting/new"><button>New</button></a></div>
    <h3>
      <a href="/admin/scripting">
        {%= components.SVGRefIcon(`file-code`, ps) %}
        {%s util.StringPlural(len(p.Scripts), "Script") %}
      </a>
    </h3>
    <div class="mt">
      <table>
        <tbody>
        {%- for _, s := range p.Scripts -%}
        <tr><td><a href="/admin/scripting/{%s s %}">{%s s %}</a></td></tr>
        {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>

{% endfunc %}
