{% import (
  "github.com/kyleu/loadtoad/app"
  "github.com/kyleu/loadtoad/app/controller/cutil"
  "github.com/kyleu/loadtoad/app/loadtoad"
  "github.com/kyleu/loadtoad/app/loadtoad/har"
  "github.com/kyleu/loadtoad/app/util"
  "github.com/kyleu/loadtoad/views/components"
  "github.com/kyleu/loadtoad/views/layout"
  "github.com/kyleu/loadtoad/views/vhar"
) %}

{% code type Detail struct {
  layout.Basic
  Workflow *loadtoad.Workflow
  Entries har.Entries
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="/workflow/{%s p.Workflow.ID %}/edit"><button type="button">Edit</button></a>
      <a href="#modal-workflow"><button type="button">JSON</button></a>
    </div>
    {%= components.JSONModal("workflow", "Workflow", p.Workflow, 3) %}
    <h3>{%= components.SVGRefIcon(`sitemap`, ps) %} {%s p.Workflow.Title() %}</h3>
    <div class="mt">
      <a href="{%s p.Workflow.WebPath() %}/run?ok=true"><button>Run</button></a>
      {%- if len(p.Workflow.Replacements) > 0 -%}
      <a href="{%s p.Workflow.WebPath() %}/run"><button>Run w/ Options</button></a>
      {%- endif -%}
    </div>
  </div>
  {%- if len(p.Workflow.Variables) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`sitemap`, ps) %} [{%d len(p.Workflow.Variables) %}] Variables</h3>
    <div class="mt">
      <table class="min-200">
        <tbody>
          {%- for k, v := range p.Workflow.Variables -%}
          <tr>
            <th class="shrink">{%s k %}</th>
            <td>{%v v %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
  {%- endif -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`play`, ps) %} {%d len(p.Entries) %} {%s util.StringPluralMaybe("Request", len(p.Entries)) %}</h3>
    <div class="mt">
      {%= showEntries(p.Entries, ps) %}
    </div>
  </div>
{% endfunc %}

{% func showEntries(ents har.Entries, ps *cutil.PageState) %}
  {%- code var idx int -%}
  {%- for _, sel := range ents.Selectors() -%}
  <h4 class="mt">{%s sel.String() %}</h4>
  {%- code selEnts := ents.BySelector(sel) -%}
  {%- if len(selEnts) == 0 -%}
  <em>no requests matched</em>
  {%- else -%}
  <div class="mt">
    <ul class="accordion">
      {%- for _, e := range selEnts -%}
      <li>
        <input id="accordion-entry-{%d idx %}" type="checkbox" hidden />
        <label for="accordion-entry-{%d idx %}">
          {%= vhar.RenderEntryOptions(idx, e, false) %}
          {%= components.ExpandCollapse(3, ps) %} {%s e.String() %}
          <div class="clear"></div>
        </label>
        <div class="bd">
          {%= vhar.RenderEntry(idx, e, ps) %}
        </div>
        {%= vhar.RenderEntryModals(idx, e, false) %}
      </li>
      {%- code idx++ -%}
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
  {%- endfor -%}
{% endfunc %}
