{% import (
  "fmt"
  "strings"

  "github.com/samber/lo"

  "github.com/kyleu/loadtoad/app"
  "github.com/kyleu/loadtoad/app/controller/cutil"
  "github.com/kyleu/loadtoad/app/lib/har"
  "github.com/kyleu/loadtoad/app/loadtoad"
  "github.com/kyleu/loadtoad/app/util"
  "github.com/kyleu/loadtoad/views/components"
  "github.com/kyleu/loadtoad/views/layout"
  "github.com/kyleu/loadtoad/views/vhar"
) %}

{% code type Detail struct {
  layout.Basic
  Workflow *loadtoad.Workflow
  Entries har.Entries
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="/workflow/{%u p.Workflow.ID %}/edit"><button type="button">Edit</button></a>
      <a href="#modal-workflow"><button type="button">JSON</button></a>
    </div>
    {%= components.JSONModal("workflow", "Workflow", p.Workflow, 3) %}
    <h3>{%= components.SVGRefIcon(`sitemap`, ps) %} {%s p.Workflow.Title() %}</h3>
    <div class="mt">
      <a href="{%s p.Workflow.WebPath() %}/run?ok=true"><button>Run</button></a>
      {%- if len(p.Workflow.Replacements) > 0 -%}
      <a href="{%s p.Workflow.WebPath() %}/run"><button>Run w/ Options</button></a>
      {%- endif -%}
    </div>
  </div>
  {%- if len(p.Workflow.Scripts) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`file-code`, ps) %} {%d len(p.Workflow.Scripts) %} {%s util.StringPluralMaybe("Script", len(p.Workflow.Scripts)) %}</h3>
    <div class="mt">
      <table class="min-200">
        <tbody>
          {%- for _, scr := range p.Workflow.Scripts -%}
          <tr>
            {%- code
              link := scr
              if !strings.HasSuffix(link, ".js") {
                link += ".js"
              }
            -%}
            <td class="shrink"><a href="/admin/scripting/{%u link %}">{%s scr %}</a></td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
  {%- endif -%}
  {%- if len(p.Workflow.Replacements) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`cog`, ps) %} {%d len(p.Workflow.Replacements) %} {%s util.StringPluralMaybe("Replacement", len(p.Workflow.Replacements)) %}</h3>
    <div class="mt">
      <table class="min-200">
        <tbody>
          {%- for _, k := range util.ArraySorted(lo.Keys(p.Workflow.Replacements)) -%}
          {%- code
            v := strings.Split(p.Workflow.Replacements[k], "||")
            if len(k) > 50 {
              k = k[:50] + "..."
            }
          -%}
          <tr>
            <td class="shrink">{%s k %}</td>
            <td>
              {%- if len(v) == 1 -%}
              {%s v[0] %}
              {%- else -%}
              <ul>
                {%- for _, x := range v -%}
                <li>{%s x %}</li>
                {%- endfor -%}
              </ul>
              {%- endif -%}
            </td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
  {%- endif -%}
  {%- if len(p.Workflow.Variables) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`sitemap`, ps) %} {%d len(p.Workflow.Variables) %} {%s util.StringPluralMaybe("Variable", len(p.Workflow.Variables)) %}</h3>
    <div class="mt">
      <table class="min-200">
        <tbody>
          {%- for k, v := range p.Workflow.Variables -%}
          <tr>
            <th class="shrink">{%s k %}</th>
            <td>{%v v %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
  {%- endif -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`play`, ps) %} {%d len(p.Entries) %} {%s util.StringPluralMaybe("Request", len(p.Entries)) %}</h3>
    <div class="mt">
      {%= showEntries(p.Entries, ps) %}
    </div>
  </div>
{% endfunc %}

{% func showEntries(ents har.Entries, ps *cutil.PageState) %}
  {%- code var idx int -%}
  {%- for _, sel := range ents.Selectors() -%}
  <h4 class="mt">{%s sel.String() %}</h4>
  {%- code selEnts := ents.BySelector(sel) -%}
  {%- if len(selEnts) == 0 -%}
  <em>no requests matched</em>
  {%- else -%}
  <div class="mt">
    <ul class="accordion">
      {%- for _, e := range selEnts -%}
      {%- code key := fmt.Sprintf("%d", idx) -%}
      <li title="{%s e.Request.URL %}">
        <input id="accordion-entry-{%s key %}" type="checkbox" hidden />
        <label for="accordion-entry-{%s key %}">
          {%= vhar.RenderEntryOptions(key, e, false) %}
          {%= components.ExpandCollapse(3, ps) %} {%s e.String() %}
          <div class="clear"></div>
        </label>
        <div class="bd">
          {%= vhar.RenderEntry(key, e, ps) %}
        </div>
        {%= vhar.RenderEntryModals(key, e, false) %}
      </li>
      {%- code idx++ -%}
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
  {%- endfor -%}
{% endfunc %}
