{% import (
  "github.com/kyleu/loadtoad/app"
  "github.com/kyleu/loadtoad/app/controller/cutil"
  "github.com/kyleu/loadtoad/app/loadtoad"
  "github.com/kyleu/loadtoad/app/loadtoad/har"
  "github.com/kyleu/loadtoad/views/components"
  "github.com/kyleu/loadtoad/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Workflow *loadtoad.Workflow
  Entries har.Entries
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="#modal-workflow"><button type="button">JSON</button></a></div>
    {%= components.JSONModal("workflow", "Workflow", p.Workflow, 3) %}
    <h3>{%= components.SVGRefIcon(`sitemap`, ps) %} {%s p.Workflow.Title() %}</h3>
    <div class="mt">
      <a href="{%s p.Workflow.WebPath() %}/run"><button>Run</button></a>
    </div>
  </div>
  <div class="card">
    <h3>{%= components.SVGRefIcon(`play`, ps) %} Requests</h3>
    <div class="mt">
      {%= entryList(p.Entries, ps) %}
    </div>
  </div>
{% endfunc %}

{% func entryList(ents har.Entries, ps *cutil.PageState) %}
  {%- if len(ents) == 0 -%}
  <div><em>no entries</em></div>
  {%- else -%}
  <table>
    <thead>
      <tr>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      {%- for _, e := range ents -%}
      <tr>
        <td>{%s e.String() %}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
  {%- endif -%}
{% endfunc %}
