{% import (
  "github.com/kyleu/loadtoad/app"
  "github.com/kyleu/loadtoad/app/controller/cutil"
  "github.com/kyleu/loadtoad/app/loadtoad"
  "github.com/kyleu/loadtoad/app/util"
  "github.com/kyleu/loadtoad/views/components"
  "github.com/kyleu/loadtoad/views/layout"
) %}

{% code type Form struct {
  layout.Basic
  Workflow *loadtoad.Workflow
} %}

{% func (p *Form) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    w := p.Workflow
    nameHelp := "The name of the workflow (optional)"
    testsHelp := "An array of tests, see example"
    replsHelp := "String replacements, applied throughout the workflow"
    varsHelp := "Custom variable keys and values used by the workflow"
  -%}
  <div class="card">
    {%- if w.ID != "" -%}
    <div class="right">
      <a href="{%s w.WebPath() %}/delete" class="link-confirm" data-message="Are you sure?"><button>Delete</button></a>
    </div>
    {%- endif -%}
    <h3>{%= components.SVGRefIcon(`sitemap`, ps) %} {%s ps.Title %}</h3>
    <div class="mt">
      <form action="" method="post">
        <table class="expanded min-200">
          <tbody>
            {%= components.TableInput("name", "", "Name", w.Name, 6, nameHelp) %}
            <tr>
              <th class="shrink">
                <label for="edit-tests" title="{%s testsHelp %}">Tests</label>
                <div>(<a href="#modal-tests">example</a>)</div>
              </th>
              <td>{%= components.FormTextarea("tests", "edit-tests", 12, util.ToJSON(w.Tests), testsHelp) %}</td>
            </tr>
            <tr>
              <th class="shrink">
                <label for="edit-replacements" title="{%s replsHelp %}">Replacements</label>
                <div>(<a href="#modal-repls">example</a>)</div>
              </th>
              <td>{%= components.FormTextarea("replacements", "edit-replacements", 12, util.ToJSON(w.Replacements), replsHelp) %}</td>
            </tr>
            <tr>
              <th class="shrink">
                <label for="edit-variables" title="{%s varsHelp %}">Variables</label>
                <div>(<a href="#modal-vars">example</a>)</div>
              </th>
              <td>{%= components.FormTextarea("variables", "edit-variables", 12, util.ToJSON(w.Variables), varsHelp) %}</td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save Workflow</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  {%= formModals(w, as, ps) %}
{% endfunc %}

{% func formModals(w *loadtoad.Workflow, as *app.State, ps *cutil.PageState) %}
  <div id="modal-tests" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Tests Example</h2>
      </div>
      <div class="modal-body">
        <div id="modal-tests-data" hidden="hidden" style="display:none;">{%s util.ToJSON(loadtoad.ExampleWorkflow.Tests) %}</div>
        <button onclick="clip('tests');">Copy to clipboard</button>
        <div class="mt">
          <pre>{%s util.ToJSON(loadtoad.ExampleWorkflow.Tests) %}</pre>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-repls" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Replacements Example</h2>
      </div>
      <div class="modal-body">
        <div id="modal-repls-data" hidden="hidden" style="display:none;">{%s util.ToJSON(loadtoad.ExampleWorkflow.Replacements) %}</div>
        <button onclick="clip('repls');">Copy to clipboard</button>
        <div class="mt">
          <pre>{%s util.ToJSON(loadtoad.ExampleWorkflow.Replacements) %}</pre>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-vars" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Variables Example</h2>
      </div>
      <div class="modal-body">
        <div id="modal-vars-data" hidden="hidden" style="display:none;">{%s util.ToJSON(loadtoad.ExampleWorkflow.Variables) %}</div>
        <button onclick="clip('vars');">Copy to clipboard</button>
        <div class="mt">
          <pre>{%s util.ToJSON(loadtoad.ExampleWorkflow.Variables) %}</pre>
        </div>
      </div>
    </div>
  </div>
  <script>
    function clip(k) {
      if (!navigator.clipboard) {
        return;
      }
      const el = document.getElementById("modal-" + k + "-data");
      navigator.clipboard.writeText(el.innerText);
    }
  </script>
{% endfunc %}
