{% import (
  "github.com/kyleu/loadtoad/app"
  "github.com/kyleu/loadtoad/app/controller/cutil"
  "github.com/kyleu/loadtoad/app/loadtoad"
  "github.com/kyleu/loadtoad/app/util"
  "github.com/kyleu/loadtoad/views/components"
  "github.com/kyleu/loadtoad/views/layout"
) %}

{% code type Form struct {
  layout.Basic
  Workflow *loadtoad.Workflow
} %}

{% func (p *Form) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`sitemap`, ps) %} {%s p.Workflow.Title() %}</h3>
    <div class="mt">
      <form action="" method="post">
        <table class="expanded min-200">
          <tbody>
            {%= components.TableInput("name", "", "Name", p.Workflow.Name, 6) %}
            {%= components.TableTextarea("tests", "", "Tests", 12, util.ToJSON(p.Workflow.Tests), 6) %}
            {%= components.TableTextarea("replacements", "", "Replacements", 12, util.ToJSON(p.Workflow.Replacements), 6) %}
            <tr>
              <td colspan="2"><button type="submit">Save Workflow</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
{% endfunc %}
