{% func startScript(ch string, pth string, replacements map[string]string) %}
  <script>
    let sock;
    function open() {
      console.log("[Open]");
    }
    function recv(m) {
      let el = document.querySelector("#entry-placeholder-" + m.param.idx);
      if (!el) {
        if (m.param.idx === -1) {
          el = document.querySelector("#results");
        } else {
          throw "invalid index [" + m.param.idx + "]";
        }
      }
      const logs = el.querySelector(".logs");
      if (!logs) {
        throw "invalid logs for index [" + m.param.idx + "]";
      }
      switch (m.cmd) {
        case "log":
          const logEl = document.createElement("div");
          logEl.innerText = " - " + m.param.ctx;
          logs.appendChild(logEl);
          break;
        case "error":
          const failures = document.querySelector("#results .failures");
          let fc = parseInt(failures.innerText, 10);
          failures.innerText = (fc + 1).toString(10);
          const errEl = document.createElement("div");
          errEl.innerText = " - ERROR: " + m.param.ctx;
          errEl.classList.add("error");
          logs.appendChild(errEl);
          break;
        case "ok":
          const successes = document.querySelector("#results .successes");
          let sc = parseInt(successes.innerText, 10);
          successes.innerText = (sc + 1).toString(10);
          const deets = el.querySelector(".details");
          if (!deets) {
            throw "invalid details for index [" + m.param.idx + "]";
          }
          const deetsDiv = document.createElement("div");
          deetsDiv.innerHTML = m.param.ctx.table;
          deets.replaceChildren(deetsDiv);

          const btn = el.querySelector(".modal-button");
          btn.classList.remove("hidden");

          const md = el.querySelector(".result-content");
          md.innerHTML = m.param.ctx.result;

          break;
        case "complete":
          document.querySelector("#results .elapsed").innerText = m.param.ctx.message;
          document.querySelector("#results .status").innerText = m.param.ctx.status;
          break;
        default:
          console.log("[Recv]", m.param.idx, m.cmd);
          break;
      }
    }
    function err(e) {
      console.log("[Err]", e);
    }
    document.addEventListener("DOMContentLoaded", function() {
      const up = new URLSearchParams(window.location.search);
      up.set("channel", "{%s ch %}");
      sock = new loadtoad.Socket(false, open, recv, err, "{%s pth %}?" + up.toString());
      console.log("[Load]");
    });
  </script>
{% endfunc %}
