{% import (
  "fmt"

  "github.com/kyleu/loadtoad/app"
  "github.com/kyleu/loadtoad/app/controller/cutil"
  "github.com/kyleu/loadtoad/app/lib/har"
  "github.com/kyleu/loadtoad/app/loadtoad"
  "github.com/kyleu/loadtoad/views/components"
  "github.com/kyleu/loadtoad/views/layout"
  "github.com/kyleu/loadtoad/views/vhar"
) %}

{% code type Start struct {
  layout.Basic
  Workflow *loadtoad.Workflow
  Entries har.Entries
  Replacements map[string]string
  Channel string
  Path string
} %}

{% func (p *Start) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="#modal-workflow"><button type="button">JSON</button></a></div>
    {%= components.JSONModal("workflow", "Workflow", p.Workflow, 3) %}
    <h3>{%= components.SVGRefIcon(`sitemap`, ps) %} {%s p.Workflow.Title() %} Results</h3>
    <div class="mt">
      {%- if len(p.Entries) == 0 -%}
      <div><em>no entries</em></div>
      {%- endif -%}
    </div>
    <div id="results" class="mt">
      <div>
        <strong>{%d len(p.Entries) %}</strong> total requests.
        <strong class="successes">0</strong> succeeded and <strong class="failures">0</strong> failed in <strong class="elapsed">0ms</strong>.
      </div>
      <div class="mt"><em class="status">Running...</em></div>
      <div class="logs"></div>
    </div>
  </div>
  {%- for idx, e := range p.Entries -%}
  {%= entryPlaceholder(idx, e, ps) %}
  {%- endfor -%}
  {%= startScript(p.Channel, p.Path, p.Replacements) %}
{% endfunc %}

{% func entryPlaceholder(idx int, ent *har.Entry, ps *cutil.PageState) %}
  <div id="entry-placeholder-{%d idx %}" class="card">
    <div class="right">
      <a class="modal-button hidden" href="#modal-result-{%d idx %}"><button type="button">Result</button></a>
      <a href="#modal-entry-{%d idx %}"><button type="button">Details</button></a>
    </div>
    <div id="modal-result-{%d idx %}" class="modal" style="display: none;">
      <a class="backdrop" href="#"></a>
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="modal-close">×</a>
          <h2>Result [{%d idx %}]: {%s ent.String() %}</h2>
        </div>
        <div class="modal-body">
          <div class="mt result-content">
            In progress...
          </div>
        </div>
      </div>
    </div>
    <h3>{%= components.SVGRefIcon(`file`, ps) %}{%s ent.String() %}</h3>
    <div class="clear"></div>
    <div class="mts details">
      <div>
        <table class="min-200">
          <thead>
          <tr>
            <th class="shrink"></th>
            <th class="shrink">Old</th>
            <th class="shrink">New</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>Status</th>
            <td>TODO</td>
            <td><em>pending</em></td>
          </tr>
          <tr>
            <th>Duration</th>
            <td>TODO</td>
            <td><em>pending</em></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="logs">
    </div>
  </div>
  <div id="modal-entry-{%d idx %}" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>{%s ent.String() %}</h2>
      </div>
      <div class="modal-body">
        {%= vhar.RenderEntry(fmt.Sprintf("%d", idx), ent, ps) %}
      </div>
    </div>
  </div>
{% endfunc %}
