{% import (
  "fmt"

  "github.com/kyleu/loadtoad/app/controller/cutil"
  "github.com/kyleu/loadtoad/app/loadtoad/har"
  "github.com/kyleu/loadtoad/app/util"
  "github.com/kyleu/loadtoad/views/components"
) %}

{% func RenderEntryOptions(i int, e *har.Entry, js bool) %}
  <div class="right">
    <a href="#modal-entry-{%d i %}-curl"><button type="button">cURL</button></a>
    {%- if js -%}
    <a href="#modal-entry-{%d i %}"><button type="button">JSON</button></a>
    {%- endif -%}
  </div>
{% endfunc %}

{% func RenderEntryModals(i int, e *har.Entry, js bool) %}
  {%- if js -%}
  {%= components.JSONModal(fmt.Sprintf("entry-%d", i), e.String(), e.Cleaned(), 3) %}
  {%- endif -%}
  <div id="modal-entry-{%d i %}-curl" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>cURL {%s e.String() %}</h2>
      </div>
      <div class="modal-body">
        <div id="modal-entry-{%d i %}-curl-data" hidden="hidden" style="display:none;">{%s e.Curl() %}</div>
        <button onclick="clip('{%d i %}');">Copy to clipboard</button>
        <div class="mt">
          <pre>{%s e.Curl() %}</pre>
        </div>
      </div>
    </div>
  </div>
{% endfunc %}

{% func RenderEntry(i int, e *har.Entry, ps *cutil.PageState) %}
  <table>
    <tbody>
      <tr>
        <th class="shrink">Duration</th>
        <td>{%s util.MicrosToMillis(e.Duration()) %} ({%s e.PageTimings.String() %})</td>
      </tr>
      <tr>
        <th class="shrink">Request</th>
        <td>{%= renderRequest(i, e.Request, ps) %}</td>
      </tr>
      <tr>
        <th class="shrink">Response Size</th>
        <td>{%s util.ByteSizeSI(int64(e.Response.Size())) %}</td>
      </tr>
      <tr>
        <th class="shrink">Response</th>
        <td>{%= renderResponse(i, e.Response, ps) %}</td>
      </tr>
    </tbody>
  </table>
{% endfunc %}
